
.cardSection {
    --CardSectionBGColor: rgba(0, 0, 0, 0);

    --CardBorderColor: black;

    --CardHeaderBGColor: rgba(0, 0, 0, 0);
    --CardHeaderTextColor1: black;
    --CardHeaderTextColor2: var(--Grey);

    --CardBodyBGColor: rgba(0, 0, 0, 0);
    --CardBodyTextColor1: black;
    --CardBodyTextColor2: var(--Grey);

    padding: 0px 20px 20px 20px;
    background-color: var(--CardSectionBGColor);
}

.card {
    overflow: hidden;

    margin-bottom: 10px;
}

.cardDivider {
    height: 1px;
    background-color: var(--CardBorderColor);
}

/* Header Styles */

.cardHeader {
    padding: 20px 20px 0px 20px;

    background-color: var(--CardHeaderBGColor);
    color: var(--CardHeaderTextColor1);
}

.cardTitleLine {
    font-size: 1.2rem;
}


.cardTitle {
    font-weight: 600;
}

.cardDate {
    font-style: italic;
}

.cardSubtitle {
    font-size: 1.0rem;
    color: var(--CardHeaderTextColor2);
}

.cardSpecsLine {
}

.cardSkills {
    margin-top: .5rem;
    font-size: .9rem;
    font-style: italic;
}

.cardLinksContainer {
    font-size: 1.4rem;
}

.cardLink {
    margin-left: 5px;
    padding: 3px 3px 1px 3px;

    border-radius: var(--BRad);
    text-decoration: none;
}

@media screen and (min-width: 500px) {
    .cardTitleLine {
        display: flex;
        justify-content: space-between;
    }
    
    .cardSpecsLine {
        display: flex;
        justify-content: space-between;
    }
}

/* Body Styles */

.cardBody {
}

.cardSMButtonContainer {
    display: flex;

    align-items: center;
    justify-content: center;
}

.cardSMButton {
    padding: 3px;
    border-radius: var(--BRad);

    font-size: .9rem;
    text-align: center;
}

.cardBodyContentContainer {
    padding: 10px 20px 0px 20px;

    background-color: var(--CardBodyBGColor);
}

.cardBodyContentDivider {
    height: 20px; 
}

.cardFigure {
}

.cardFigureImage {
    display: block;
    max-width: 80%;

    margin-left: auto;
    margin-right: auto;
}

.cardFigureDescription {

    font-size: .9rem;
    text-align: center;

    color: var(--CardBodyTextColor2);
}

.cardParagraph {
    font-size: .9rem;

    color: var(--CardBodyTextColor1);
}
