
.cardSection {

}

.card {
}

/* Header Styles */

.cardHeader {
}

.cardTitleLine {
    display: flex;
    justify-content: space-between;

    font-size: 1.2rem;
}

.cardTitle {
    font-weight: 600;
}

.cardDate {
    font-style: italic;
}

.cardSubtitle {
    font-size: 1.0rem;
    color: var(--Grey);
}

.cardSpecsLine {
    display: flex;
    justify-content: space-between;
}

.cardSkills {
    margin-top: .5rem;
    font-size: .9rem;
    font-style: italic;
}

.cardLinksContainer {
    font-size: 1.4rem;
}

.cardLink {
    margin-left: 5px;
    padding: 3px 3px 1px 3px;
    text-decoration: none;
}

/* Body Styles */

.cardBody {
}

.cardSMButtonContainer {
    display: flex;
    justify-content: center;

    margin-bottom: 10px;
}

.cardSMButton {
}

.cardBodyContentContainer {
    border-radius: var(--BRad);
    padding: 10px;

    background-color: var(--Green1);

    margin-bottom: 10px;
}

.cardBodyContentDivider {
    height: 20px; 
}

.cardFigure {
}

.cardFigureImage {
    display: block;
    max-width: 80%;

    margin-left: auto;
    margin-right: auto;
}

.cardFigureDescription {
    color: var(--Grey);
    font-size: .9rem;
    text-align: center;
}

.cardParagraph {
    font-size: .9rem;
}
