
body {
    margin: 0px;

    /* Hacky Trick from somebody's blog */
    height: 100vh; /* Fallback */
    height: calc(var(--vh, 1vh) * 100);

    display: flex;
    background-color: white;

    overflow: hidden;
}

::-webkit-scrollbar {
    display: none;
}

::-webkit-scrollbar-corner {
    display: none;
}

/* Introductory Classes */

.intro {
    flex: 1.5;
    padding: 40px;
}

.introHeadshot {
    display: block;
    max-width: 30%;
    margin-left: auto;
    margin-right: auto;

    border-radius: 50%; 
}

.introTitle {
    padding: 5px;
    text-align: center;

    font-size: 2.0rem;
    font-weight: 700;
}

.introLinkLine {
    text-align: center;
}

.introLink {
    text-decoration: none;
    font-size: 1.4rem;
    padding: 6px 6px 3px 6px;
}

.introBlurb {
    margin: 20px;
    padding: 10px;
    border-radius: var(--BRad);

    background-color: var(--Green1);

    font-size: .9rem;
}

/* Detail Section Container */

.detailSection {
    flex: 2; 
}


