
body {
    margin: 0px;
    background-color: white;
}

@media screen and (min-width: 1000px) {
    body {
        /* Hacky Trick from somebody's blog */
        height: 100vh; /* Fallback */
        height: calc(var(--vh, 1vh) * 100);

        display: flex;
        overflow: hidden;
    }
}

::-webkit-scrollbar {
    display: none;
}

::-webkit-scrollbar-corner {
    display: none;
}

/* Introductory Classes */

.intro {
    flex: 1;
    padding: 40px 10px 0px 10px;

    color: black;
}

.introHeadshot {
    display: block;
    max-width: 40%;
    margin-left: auto;
    margin-right: auto;

    border-radius: 50%; 
}

.introTitle {
    padding: 5px;
    text-align: center;

    font-size: 2.0rem;
    font-weight: 700;
}

.introLinkLine {
    text-align: center;
}

.introLink {
    padding: 6px 6px 3px 6px;
    border-radius: var(--BRad);
    font-size: 1.4rem;

    text-decoration: none;
}

.introBlurb {
    margin: 20px;

    text-align: center;
    font-size: .9rem;
}

/* Detail Section Container */

.detailSection {
    flex: 2; 
    padding: 20px;
}


