

.clickable {
    transition-duration: var(--TDur);

    background-color: var(--Blue1);
    color: white;
}

.clickable:hover {
    background-color: var(--Purple1);
    cursor: pointer;
}

/* ToggleDiv Styles */

.toggleDiv {
    --NavBarHeight: 40px;

    height: 100%;
}

.toggleDivNavBar {
    overflow: hidden;

    height: var(--NavBarHeight);

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--Orange1);
}

.toggleDivButton {
    margin-left: 4px;
    margin-right: 4px;

    border-radius: var(--BRad);

    padding: 5px;

    transition-duration: var(--TDur);
}

.toggleDivButtonFocused {
    background-color: black;
    color: var(--Orange1);
}

.toggleDivButtonUnfocused {

}

.toggleDivButtonUnfocused:hover {
    background-color: var(--Green2);
    color: black;
    cursor: pointer;
}

.toggleDivVisiblePane {
    height: calc(100% - var(--NavBarHeight));

    background-color: var(--Dim);

    overflow-y: scroll;
    overflow-x: hidden;
}

.toggleDivVisiblePane::-webkit-scrollbar {
    display: block;
    width: 10px;
}

.toggleDivVisiblePane::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0);
}

/* Handle */
.toggleDivVisiblePane::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: var(--Dim);
}

