
.miscUI {
    --UIUnfocusedTextColor: black;
    --UIUnfocusedBGColor: rgba(0, 0, 0, 0);

    --UIHoverTextColor: black;
    --UIHoverBGColor: var(--Dim);

    --UIToggledTextColor: var(--Blue2);
    --UIToggledBGColor: rgba(0, 0, 0, 0);

    /* Just for Toggle Content */
    --UIBGColor: var(--Green1);
    --UIBorderColor: black;
}


.clickable {
    transition-duration: var(--TDur);

    background-color: var(--UIUnfocusedBGColor);
    color: var(--UIUnfocusedTextColor);
}

.clickable:hover {
    background-color: var(--UIHoverBGColor);
    color: var(--UIHoverTextColor);

    cursor: pointer;
}

/* ToggleDiv Styles */

.toggleDiv {
    --NavBarHeight: 40px;

    height: 100%;
    overflow: hidden;
    border-radius: 20px;
}

.toggleDivNavBar {
    overflow: hidden;

    height: var(--NavBarHeight);

    border-bottom: 1px solid var(--UIBorderColor);
    background-color: var(--UIBGColor);

    display: flex;
    justify-content: center;
    align-items: center;
}

.toggleDivButton {
    display: flex;

    align-items: center;
    justify-content: center;

    padding: 3px;
    margin-left: 3px;
    margin-right: 3px;

    border-radius: var(--BRad);

    transition-duration: var(--TDur);
}

.toggleDivButtonFocused {
    background-color: var(--UIToggledBGColor);
    color: var(--UIToggledTextColor);
}

.toggleDivButtonUnfocused {
    background-color: var(--UIUnfocusedBGColor);
    color: var(--UIUnfocusedTextColor);
}

.toggleDivButtonUnfocused:hover {
    background-color: var(--UIHoverBGColor);
    color: var(--UIHoverTextColor);

    cursor: pointer;
}

.toggleDivVisiblePane {
    height: calc(100% - var(--NavBarHeight));

    background-color: var(--UIBGColor);

    overflow-y: scroll;
    overflow-x: hidden;
}

.toggleDivVisiblePane::-webkit-scrollbar {
    display: block;
    width: 10px;
}

.toggleDivVisiblePane::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0);
}

/* Handle */
.toggleDivVisiblePane::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: var(--Dim);
}

