
:root {
    --Purple1: #c7506b;
    --Purple2: #a34474;
    --Purple3: #73326a;
    --Purple4: #4e2557;
    --Purple5: #3a224f;

    --Orange1: #ffefc9;
    --Orange2: #ffd7ae;
    --Orange3: #fcc88d;
    --Orange4: #ed9e70;
    --Orange5: #e3755f;

    --Green1: #f0eba8;
    --Green2: #cff291;
    --Green3: #adde85;
    --Green4: #69c976;
    --Green5: #50ab76;

    --Blue1: #36777a;
    --Blue2: #2e5c6b;
    --Blue3: #223d54;
    --Blue4: #1f2e52;

    --Grey: rgb(55, 55, 55);

    --Dim: rgba(0, 0, 0, .1);

    --TDur: .3s;
    --BRad: 5px;

    color: black;
    font-size: 16px;
    font-family: Tahoma, sans-serif;
}
