
body {
    background-color: rgb(220, 220, 255);
    padding: 20px;
}

.project {
    background-color: white;
    border: 1px solid black;
    border-radius: 20px;

    overflow: hidden;
}

.projectHeader {
    color: red;
}

.projectHeader h1 {
    margin: 0px;
    color: red;
}

.projectHeader h2 {
    margin: 0px;
    color: blue;
}



