
body {
    background-color: rgb(220, 220, 255);
    padding: 20px;

    font-family: FreeMono, monospace;
}

/* Fa Icons */
i {
    color: black;
}

.project {
    background-color: white;
    border: 1px solid black;
    border-radius: 20px;

    overflow: hidden;
}

.projectHeader {
    display: flex;
    flex-direction: row;
    color: red;
}

.iconContainer {
    flex: 1;
    padding: 2%;
    display: flex;
    align-items: center;
}

.iconContainer img {
    width: 100%;
}

.projectHeaderTextContainer {
    flex: 3;
    padding: 2%;
}

.projectHeaderTitleDiv {
    font-size: 1.2em;
    color: rgb(0, 0, 0);

    display: flex;
    flex-direction: row;
}

.projectHeaderTitle {
    flex: 2;
    font-weight: 600;
}

.projectHeaderDate {
    font-style: italic;
    flex: 1;
    text-align: right;
}

.projectHeaderTextContainer h2 {
    font-weight: 200;
    font-size: 1.0em;
    color: rgb(50, 50, 50);

    margin: 0px;
}

.specDate {
    color: black;
}

.specSkills {
    color: black;
}

.specSkills b {

}



