html {
    font-size: 16px;
}

body {
    background-color: var(--Orange1);
    padding: 20px;

    font-family: FreeMono, monospace;
}

.project {
    overflow: hidden;

    padding: 5px;
}

/* Project Header Styles */

.projectHeader {
    padding: 10px 20px 10px 20px;

    display: flex;
    flex-direction: row;
}

.projectHeaderTextContainer {
    flex: 3;
}

.projectHeaderTitleDiv {
    display: flex;
    justify-content: space-between;

    font-size: 1.2rem;
    color: rgb(0, 0, 0);
}

.projectHeaderTitle {
    font-weight: 600;
}

.projectHeaderDate {
    font-style: italic;
}

.projectHeaderSubtitle {
    padding-top: 4px;

    font-weight: 200;
    font-size: 1.0rem;
    color: rgb(50, 50, 50);

    margin: 0px;
}

.projectHeaderSkillsDiv {
    display: flex;
    justify-content: space-between;

    color: black;
}

.projectHeaderSkillsSpan {
    padding-top: .5rem;
    font-size: .9rem;
    font-style: italic;
}

.projectHeaderLinksSpan {
    line-height: 0rem;  
    font-size: 1.4rem;

    background-color: black;
    border-radius: var(--BRad);
    overflow: hidden;
}

.projectHeaderLinksSpan a {
    padding: 3px;
    padding-bottom: 0px;

    color: var(--Orange1);

    text-decoration: none;

    transition-duration: var(--TDur);
}

.projectHeaderLinksSpan a:hover {
    color: black;
    background-color: var(--Green3);
}

/* Project Body Styles */

.contentDivider {
    height: 20px;
}

.projectBody {
    padding: 10px 20px 10px 20px;
}

.projectFigureDiv {
}

.projectFigure {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    max-width: 70%;
}

.projectFigureDescription {
    text-align: center;
    color: rgb(50, 50, 50);
    font-size: .9rem;
    font-style: italic;
    padding-top: 3px;
}

.projectParagraph {
    font-size: 1.0rem;
}

/* Project Read More Button */

.projectReadMoreButtonContainer {
    display: flex;
    justify-content: center;
}

.projectReadMoreButton {
    padding: 4px 6px 4px 6px;
    border-radius: 8px;

    font-size: .9rem;

    background-color: black;
    color: var(--Orange1);

    transition-duration: var(--TDur);
}


.projectReadMoreButton:hover {
    background-color: var(--Green3);
    color: black;
}

